<!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Alexa</h1>
                <span class="footer__subtitle">Fontend Developer</span>
            </div>
            <ul class="footer__links">
                <li>
                    <a href="#services" class="footer__links">Services</a>
                </li>
                <li>
                    <a href="#portfolio" class="footer__links">Portfolio</a>
                </li>
                <li>
                    <a href="#contact" class="footer__links">contact Me</a>
                </li>
            </ul>
            <div class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                    <i class="uil uil-facebook-f footer__icon"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                    <i class="uil uil-instagram footer__icon"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social">
                    <i class="uil uil-twitter-alt footer__icon"></i>
                </a>
            </div>
        </div>
        <p class="footer__copy">&#169; Bedimcode. All right reserver</p>
    </div>
</footer>